<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christ University Internship Evaluation</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <a href="/" class="home-icon" aria-label="Return to homepage">🏠</a>
        <h1>Christ University Internship Evaluation</h1>
    </header>
    <div class="container">
        <a href="/student-login" class="button">Student Login</a>
        <a href="/faculty-login" class="button">Faculty Login</a>
    </div>
    <footer>
        <p>Team 11:</p>
        <ul>
            <li>Piyush Kumar (2360485)</li>
            <li>R Roshini Devi (2360443)</li>
            <li>Sunith K (2360471)</li>
            <li>Krishjeet Brar (2360403)</li>
        </ul>
    </footer>
</body>
</html>